<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
<table>
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>brand</th>
        <th>price</th>
        <th>stock</th>
        <th>available</th>
        <th>created_at</th>
        <th>Updated_at</th>
        <th>Add Products</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for products in products %}
    <tr>
        <td>{{products.category}}</td>
        <td>{{products.name}}</td>
        <td>{{products.brand}}</td>
        <td>{{products.price}}</td>
        <td>{{products.stock}}</td>
        <td>{{products.available}}</td>
        <td>{{products.created_at}}</td>
        <td>{{products.updated_at}}</td>
        <td><a href="{% url 'addproduct' %}"> Add </a> </td>
        <td><a href ="{% url 'getone' name=products.name %}">View</a></td>
        <td><a href = "{% url 'update_product' name=products.name %}">Edit</a></td>
        <td><a href = "{% url 'delete_product' name=products.name %}">Delete</a></td>
    </tr><br>
    {% endfor %}
</table>
<br>
</body>
</html>